body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

$primary-color: green;


.scrollContainer {
	width: 400px;
	margin: 0 auto;
}

.messageContainer {
	border: 1px solid blue;
}


.isHaiku {
	color: $primary-color;
	transition: color 4s;
}

.haikuBox {
	border: 1px solid black;
	margin: 10px;
}

.haikuBody {
	border: 1px solid black;
	margin: 2px;
}

.haikuDate {
	border: 1px solid black;
	margin: 2px;
	color: #333;
}