body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


$base-color: black;
$primary-color: green;


@keyframes haikuFlash {
	0% { color: $base-color; }
	30% {color: $primary-color;}
	100% {color: $base-color;}
}

.scrollContainer {
	width: 400px;
	margin: 0 auto;
}

.messageContainer {
	border: 1px solid blue;
}


.flex-grid {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.col {
	flex: 1;
}

.flex-grid .col {
	flex-basis: 32%;
	max-width: 400px;
}

@media(max-width: 500px) {
	.flex-grid .col {
		flex-basis: 100%;
		max-width: none;
	}
}

.isHaiku {
	animation: haikuFlash 3s;
}

.haikuBox {
	border: 1px solid black;
	margin: 10px;
}

.haikuBody {
	border: 1px solid black;
	margin: 2px;
	padding: 10px;
}

.haikuDate {
	border: 1px solid black;
	margin: 2px;
	color: #333;
}